doctype html
html
  head
    meta(charset='utf-8')
    meta( name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
  body
    .header
        .menu-left left
        .menu-right
            .account= user.local.email
            a(href='/logout') Выйти
    form
        input#title(name='title', value='', type='text')
        |        
        button#create Новая доска   
    .boards Доски:
    button#ajax-put put
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js')
    script(src='javascript/global.js')

    
    //div#id= user._id
    //div#email= user.local.email
    //div#password= user.local.password

    
       