extends layout.pug
block content
    .header
        .menu-left left
        .menu-right
            .account= user.local.email
            a(href='/logout') Выйти
    form
        input#title(name='title', value='', type='text')
        |        
        button#create Новая доска   
    .boards Доски:

    
    //div#id= user._id
    //div#email= user.local.email
    //div#password= user.local.password

    
       