doctype html
html
  head
    meta(charset='utf-8')
    meta( name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
  body
    a(href='/') Главная
    form(action='/signin', method='post')
        input#email(name='email', value='', type='text')
        |  
        input#password(name='password', value='', type='password')
        |  
        button(type=submit) Войти
